In [2]:
import pandas as pd

In [3]:
df = pd.read_table("lesson4.tsv")

In [4]:
df

         観測点        真値
0   0.097627  2.429089
1   0.430379  8.827389
2   0.205527  4.938789
3   0.089766  2.236985
4  -0.152690 -3.744030
5   0.291788  6.693576
6  -0.124826 -3.086000
7   0.783546  9.216559
8   0.927326  7.249552
9  -0.233117 -5.529385
10  0.583450  9.945525
11  0.057790  1.447316
12  0.136089  3.353995
13  0.851193  8.427172
14 -0.857928 -8.334847
15 -0.825741 -8.754075
16 -0.959563 -6.668303
17  0.665240  9.948904
18  0.556314  9.851368
19  0.740024  9.585044